
<h1>Cambio Credenciales</h1>

<form action="/client/cambioCredenciales" method="POST">
        <label for="user"> User </label>
        <br>
        <input type="text" id="user" name="user" >
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>

        <br>
        <br>
    <button type="submit">Cambiar Contraseña</button>
</form>

