

<h1>Login</h1>

<form action="/client/login" method="POST">
    <div>
        <label for="user">Usuario</label>
        <br>
        <input type="text" id="user" name="user" required>
    </div>
    <br>
    <div>
        <label for="password">Contraseña</label>
        <br>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Login</button>
</form>

