<style>
    
    *{
        width: 100%;
        height: auto;
        text-align: center
    }

</style>

<h1>Login</h1>



<form action="/client/login" method="POST">
    <div>
        <label for="user">User</label>
        <input type="text" id="user" name="user" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Login</button>
</form>

