<style>
body {
 
 background-color: #57a09c;
}

.contenedor{
    background-color: #26c286;
    width: 20%;
    height: auto;
    margin: auto;
    border: 3px solid black
}


</style>

<center>
<div class="contenedor">
    <h1>Login</h1>

    <form action="/client/login" method="POST">
        <div>
            <label for="user">Usuario</label>
            <br>
            <input type="text" id="user" name="user" required>
        </div>
        <br>
        <div>
            <label for="password">Contraseña</label>
            <br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    
    

</div>
</center>