<h1>Principal</h1>

<form action="/principal" method="GET">
    <div>
        <label for="user">Number Account</label>
        <input type="text" id="user" name="user" readonly>
    </div>

    <div>
        <label for="identification">Identification</label>
        <input type="text" id="identification" name="password" readonly>
    </div>

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="password" readonly>
    </div>

    <div>
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="password" readonly>
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="password" readonly>
    </div>

    <div>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="password" readonly>
    </div>

    <div>
        <label for="balance">Balance</label>
        <input type="text" id="balance" name="password" readonly>
    </div>


    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>