
<h1>SEARCH</h1>

<table id="search-table">
    <tr  >
      <th style=" margin: 3px; padding: 3px; border: 1px solid"  >ID ADMINISTRADOR</th>
      <th style=" margin: 3px; padding: 3px; border: 1px solid"  >USERNAME</th>
      <th style=" margin: 3px; padding: 3px; border: 1px solid"  >ROL</th>
      <th style=" margin: 3px; padding: 3px; border: 1px solid"  >ACCIONES</th>
    </tr>
  </table>

  <input type="text" name="transactions" value="<%= transactions %>">
  

